<h2>Show packaging level</h2>

<ul>

  <li>
    <strong>Id:</strong>
    <%= @packaging_level.packaging_level_id %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @packaging_level.name %>
  </li>

  <li>
    <strong>Children count:</strong>
    <%= @packaging_level.children_count %>
  </li>

  <li>
    <strong>Parent:</strong>
    <%= @packaging_level.parent_id %>
  </li>

</ul>

<%= link "Edit", to: packaging_level_path(@conn, :edit, @packaging_level) %>
<%= link "Back", to: packaging_level_path(@conn, :index) %>
